
.btnselect{
//-fx-background-image: url("select.png");
//-fx-background-position: center center;
//-fx-background-repeat: no-repeat;
//-fx-background-size: cover, auto;
-fx-background-color: #36544b; 
-fx-color: #36544b; 


}

.btnstart{

-fx-background-color: #36944b; 
-fx-background-image: url("start.png");
-fx-background-position: center center;
-fx-background-repeat: no-repeat;
-fx-background-size: cover, auto;
//-fx-color:#36944b;


}

.btnstop{

-fx-background-color: #cc4c4c; 
-fx-background-image: url("stop.png");
-fx-background-position: center center;
-fx-background-repeat: no-repeat;
//-fx-background-width: 10;
-fx-background-size: cover, auto;
-fx-color:#cc4c4c;

}

.btnexit{

-fx-background-color: #cc4c4c; 
-fx-background-image: url("exit1.png");
-fx-background-position: center center;
-fx-background-repeat: no-repeat;
//-fx-background-width: 10;
-fx-background-size: cover, auto;
-fx-color:#cc4c4c;
//-fx-font-weight: bolder;
}

.root{
-fx-background-color:     
    linear-gradient(to bottom, #45484d 0%,#000000 100%);

}